<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img style="width: 100px;" src="../../../assets/logo.png" alt="">

                    <h1>Login Here!!</h1>
                    <form>

                        <!--username-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        required=""
                        matInput placeholder="Enter here">
                        <mat-hint>valid Username</mat-hint>
                    </mat-form-field>

                     <!--password-->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required=""
                       
                        type="password" matInput placeholder="Enter here">
                    </mat-form-field>

                    <div class="container">
                        <button mat-raised-button color="primary" type ="submit"> Login </button>
                    </div>
                    </form>
               
                </div>
            </mat-card>
            </div>
        </div>
    </div>
</div>