<div class="bootstrap-wrapper">

    <div class="container">
        <div class = "row" style="margin-top:20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img style="width: 100px;" src="../../../assets/logo.png" alt="">
                </div>
                <h1 class="text-center">Register Here !!</h1>

                <!-- {{ user | json}} -->
                <form (ngSubmit)="formSubmit()">
                    <!--username-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        required=""
                        [(ngModel)]="user.username"
                        name="username"
                        matInput placeholder="Enter here">
                    </mat-form-field>
                    
                    <!--password-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required=""
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" matInput placeholder="Enter here">
                    </mat-form-field>


                    <!--firstname-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required=""
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        matInput placeholder="Enter here">
                    </mat-form-field>


                    <!--lastname-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Lastname</mat-label>
                        <input required=""
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        matInput placeholder="Enter here">
                    </mat-form-field>

                    
                    <!--email-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" required=""
                        [(ngModel)]="user.email"
                        name="email"
                        matInput placeholder="Enter here">
                    </mat-form-field>


                    <!--phone number--> 
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input type="number" required=""
                        [(ngModel)]="user.phone"
                          name="phone"
                        matInput placeholder="Enter here">
                    </mat-form-field>

                    <div class="container text-center">

                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>

                    </div>
                    

                </form>
            </mat-card>
            </div>
            
        </div>

</div>