<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-20">
           <div class="col-md-6 offset-md-3 text-center">
            <h1>Welcome to TestWise</h1>
            <button mat-raised-button color="primary">Home page</button>
           </div>
        </div>
    </div>
</div>
